.transaction .date{
    padding: 5px;
    border-radius: 5px;
    background-color: var(--s-color);
    border-width: 3px;
    width: 50px;
    color: #F7F7F7;
  }
  .transaction .date .day{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .transaction .date .weekday{
    display: flex;
    justify-content: center;
  }
  .transaction .date .month{
    display: flex;
    justify-content: center;
  }
  .transaction .date .year{
    display: flex;
    justify-content: center;
  }