.transaction-form{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 16px 10px 0px 10px;
    padding: 0px 10px 10px 10px;
    background-color: var(--t-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--f-color);
}
.transaction-form .control{
    display: flex;
    flex-direction: column;
    color: var(--f-color);
}
.transaction-form .spent-control{
    display: flex;
    color: var(--s-color);
    align-items: flex-end;
    align-content: space-between;
    font-weight: 600;
}
.transaction-form .row{
    border-radius: 5px;
    border-color: var(--t-color);
    box-shadow: 0px 2px 5px var(--f-color);
    color: var(--f-color);
}
.transaction-form .buttons{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
}
.transaction-form .button{
    border-radius: 5px;
    border-color: var(--f-color);
    color: var(--f-color);
    font-weight: 600;
    padding: 5px;
}
.transaction-form .add-button{
    color: var(--s-color); 
}